<div>
    <h2>Sign up</h2>
    <form id="signup-form">
        <div>
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-signup"/>
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input class="form-input" type="text" id="password-signup"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <div>
        <a href="/login">Login in Instead</a>
    </div>
</div>

<script src="./js/signup.js"></script>